@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Tilt+Prism&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  color: #ffffff;
  transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
  color: #ffd000;
}
.navbar-brand img {
  width: auto;
  height: 70px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.navbar-collapse {
  justify-content: flex-end;
}

.logo {
  height: 70px;
}

.home {
  background-color: #ffffff;
}
.home h1 {
  font-family: "Chakra Petch", sans-serif;
  color: #e89353;
  font-size: 3.5rem;
}
.home .tractor-index {
  height: 100%;
  width: 50%;
}

.boton {
  font-size: 2rem;
  padding: 10px 16px;
  background-color: #4CAF50;
  color: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.boton:hover {
  background-color: #e89353;
}

.sobre-nosotros {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.sobre-nosotros .empresario-agricultor {
  height: 100%;
  width: 50%;
}
.sobre-nosotros h2 {
  font-family: "Chakra Petch", sans-serif;
}

.contenido {
  height: 90%;
  width: 100%;
  display: flex;
}
.contenido .card-galeria {
  width: 100%;
  height: 100%;
  border: 6px solid #4CAF50;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px 15px;
}
.contenido .card-galeria .galeria {
  height: 100%;
  width: 100%;
}
.contenido .card-producto {
  width: 100%;
  height: 100%;
  border: 6px solid #4CAF50;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px 15px;
}
.contenido .card-producto .maquinaria {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .home {
    margin-top: 8px;
  }
  .home .tractor-index {
    margin-top: 38px;
  }
  .home .boton {
    margin: 4px 0px;
  }
}
@media screen and (max-width: 780px) {
  .sobre-nosotros {
    background-image: url(../../asset/img/empresario-agricultor.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 20px;
  }
  .nosotros {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .empresario-agricultor {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .contenido {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }
  .contenido aside {
    height: 100%;
    width: 100%;
  }
  .contenido aside .galeria {
    height: 100%;
    width: 100%;
  }
  .contenido .productos {
    height: 100%;
    width: 100%;
  }
  .contenido .productos .maquinaria {
    height: 100%;
    width: 100%;
  }
}
footer {
  background-color: #0c0909;
}
footer .social-icon {
  font-size: 2rem;
  margin: 0px 8px;
  padding: 0px 4px;
}
footer .social-icon.ico-facebook {
  color: rgba(2, 15, 128, 0.774);
}
footer .social-icon.ico-facebook:hover {
  color: rgb(0, 195, 255);
}
footer .social-icon.icono-telefono {
  color: rgb(5, 182, 5);
}
footer .social-icon.icono-telefono:hover {
  color: #05ff1e;
}

.contacto {
  height: 100%;
  width: 100%;
  background-color: #c2c2c2;
}
.contacto .contactanos-foto {
  height: 50%;
  width: 60%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contacto .iconos-contacto {
  font-size: 1.5rem;
}
.contacto a {
  text-decoration: none;
}
.contacto .telefono {
  margin-top: 8px;
  color: rgb(5, 182, 5);
  padding-right: 18px;
}
.contacto .telefono:hover {
  color: #05ff1e;
}
.contacto .ico-Email {
  margin: 8px 0px;
  color: #5c0202;
  padding-right: 18px;
}
.contacto .ico-Email:hover {
  color: #ff0000;
}

form {
  text-align: center;
}
form input,
form textarea {
  height: 40px;
}
form label {
  width: 100%;
  font-size: 1.5rem;
}
form .form-button {
  margin: 4px 0px;
}

.Politicas-calidad-page {
  height: 90vh;
}

.maquinarias .card {
  width: 25rem;
}
.maquinarias .card img {
  max-width: 100%;
}
.maquinarias .card .card-body h3 {
  font-size: 2rem;
}
.maquinarias .card .card-body .card-text {
  font-size: 1.5rem;
}
.maquinarias .card .card-body .btn.boton {
  font-size: 1.5rem;
  padding: 10px 16px;
  background-color: #4CAF50;
  color: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.maquinarias .card .card-body .btn.boton:hover {
  background-color: #ffd000;
}

.galeria {
  height: 80vh;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
