@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Tilt+Prism&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden !important;
  background-color: black;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  color: #e89353;
  font-size: 3.5rem;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  color: #ffffff;
  transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
  color: #ffd000;
}
.navbar-brand img {
  width: auto;
  height: 70px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.navbar-collapse {
  justify-content: flex-end;
}

.logo {
  height: 70px;
}

.home {
  background-color: #ffffff;
}
.home h1 {
  font-family: "Chakra Petch", sans-serif;
  color: #e89353;
  font-size: 3.5rem;
}
.home .tractor-index {
  height: 100%;
  width: 50%;
}

.boton {
  font-size: 2rem;
  padding: 10px 16px;
  background-color: #4CAF50;
  color: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.boton:hover {
  background-color: #e89353;
}

.servicios {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 8px 0px;
}
.servicios .text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicios i {
  font-size: 1.5rem;
}

.sobre-nosotros {
  background-color: #0c0909;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.sobre-nosotros .empresario-agricultor {
  height: 100%;
  width: 50%;
}
.sobre-nosotros h2 {
  font-family: "Chakra Petch", sans-serif;
}

.contenido {
  height: 330px;
  width: 100%;
  padding: 10px 30px;
  display: flex;
}
.contenido .card {
  margin-right: 22px;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  perspective: 700px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5019607843);
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contenido .card .galeria {
  width: 100%;
  height: 100%;
}
.contenido .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.contenido .card .card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contenido .card:hover .card__content {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}
.contenido .card .card__title {
  margin: 0;
  color: #e89353;
  font-weight: 800;
}
.contenido .card .boton {
  line-height: 1.4;
}
.contenido .card:hover .maquinaria .galeria {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.contenido .card-produc {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  perspective: 700px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5019607843);
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contenido .card-produc .maquinaria {
  width: 100%;
  height: 100%;
}
.contenido .card-produc:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.contenido .card-produc .card__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contenido .card-produc:hover .card__content {
  transform: rotateX(0deg);
}
.contenido .card-produc .card__title {
  margin: 0;
  color: #e89353;
  font-weight: 800;
}
.contenido .card-produc .boton {
  line-height: 1.4;
}
.contenido .card-produc:hover img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

@media screen and (max-width: 780px) {
  .home {
    margin-top: 8px;
  }
  .home .titulo-h1 {
    font-size: 2.1rem;
  }
  .home .tractor-index {
    margin-top: 38px;
  }
  .home .boton {
    margin: 4px 0px;
  }
}
@media screen and (max-width: 780px) {
  .sobre-nosotros {
    background-image: url(../../asset/img/empresario-agricultor.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 20px;
  }
  .nosotros {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .empresario-agricultor {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .contenido {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }
  .contenido aside {
    margin: 10px 0px;
    height: 100%;
    width: 100%;
  }
  .contenido aside .galeria {
    height: 100%;
    width: 100%;
  }
  .contenido .card-produc {
    height: 100%;
    width: 100%;
    margin: 2px 0px;
  }
  .contenido .card-produc .maquinaria {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 780px) {
  .galeria {
    height: 100%;
    width: 100%;
    padding-top: 100px;
  }
  .galeria .galeria1 {
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  .galeria .galeria1:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }
}
@media screen and (max-width: 780px) {
  .contacto .contactanos-foto {
    display: none;
  }
}
footer {
  background-color: #0c0909;
}
footer .social-icon {
  font-size: 2rem;
  margin: 0px 8px;
  padding: 0px 4px;
}
footer .social-icon.ico-facebook {
  color: rgba(2, 15, 128, 0.774);
}
footer .social-icon.ico-facebook:hover {
  color: rgb(0, 195, 255);
}
footer .social-icon.icono-telefono {
  color: rgb(5, 182, 5);
}
footer .social-icon.icono-telefono:hover {
  color: #05ff1e;
}

.formulario {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  margin-top: 40px;
  padding: 90px 10px;
}
.formulario .contacto {
  height: 100%;
  width: 100%;
}
.formulario .contacto .contactanos-foto {
  height: 100%;
  width: 100%;
}
.formulario .contacto .iconos-contacto {
  font-size: 1.5rem;
}
.formulario .contacto a {
  text-decoration: none;
}
.formulario .contacto .telefono {
  margin-top: 1px;
  color: rgb(5, 182, 5);
}
.formulario .contacto .telefono:hover {
  color: #05ff1e;
}
.formulario .contacto .ico-Email {
  margin: 8px 0px;
  color: #5c0202;
  padding-right: 18px;
}
.formulario .contacto .ico-Email:hover {
  color: #ff0000;
}
.formulario form {
  display: flex;
  align-items: center;
  text-align: center;
}
.formulario form input,
.formulario form textarea {
  height: 40px;
  width: 70%;
}
.formulario form label {
  width: 70%;
  font-size: 1.5rem;
}
.formulario form .form-button {
  margin: 10px 0px;
}

.nosotro {
  background-color: #ffffff;
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 8px;
}

.polica {
  background-color: #ffffff;
  margin-top: 40px;
  padding-top: 80px;
  padding-bottom: 8px;
}
.polica .Politicas-calidad-page {
  height: 90vh;
}

.productos {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-top: 80px;
  padding-bottom: 8px;
}
.productos .maquinarias .card {
  height: auto;
  width: 18rem;
}
.productos .maquinarias .card img {
  width: 100%;
  height: 100%;
}
.productos .maquinarias .card .card-body h3 {
  font-size: 2rem;
}
.productos .maquinarias .card .card-body .card-text {
  font-size: 1.5rem;
}
.productos .maquinarias .card .card-body .btn.boton {
  font-size: 1.5rem;
  padding: 10px 16px;
  background-color: #4CAF50;
  color: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.productos .maquinarias .card .card-body .btn.boton:hover {
  background-color: #ffd000;
}

.galeria {
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

/*# sourceMappingURL=main.css.map */
