//Home
@media screen and (max-width: 780px) {
    .home{
        .titulo-h1{
            font-size: 2.1rem;
        }
        margin-top: 8px;
        .tractor-index{
            margin-top: 38px;
        }
        .boton{
            margin: 4px 0px;
        }
    }
}
//Sobre Nosotros
@media screen and (max-width: 780px) {
    .sobre-nosotros{
        background-image: url(../../asset/img/empresario-agricultor.jpg);
        background-size: cover;
        background-position: center;
        color: $color-terciario;
        padding: 20px;
    }
    .nosotros{
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .empresario-agricultor{
        display: none;
    }
}
//Contenido
@media screen and (max-width: 720px) {
    .contenido{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        aside{
            margin: 10px 0px;
            height: 100%;
            width: 100%;
            .galeria{
                height: 100%;
                width: 100%;
            }
        }
        .card-produc{
            height: 100%;
            width: 100%;
            margin: 2px 0px;
            .maquinaria{
                height: 100%;
                width: 100%;
            }
        }
    }
}
//Galeria
@media screen and (min-width: 780px) {
    .galeria{
        height: 100%;
        width: 100%;
        padding-top: 100px;
        .galeria1{
            transition: all 0.1s linear;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            -ms-transition: all 0.1s linear;
            -o-transition: all 0.1s linear;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            &:hover
            {
                filter: grayscale(0%);
                -webkit-filter: grayscale(0%);
            }
        }
    }
}
//contacto
@media screen and (max-width: 780px) {
    .contacto{
        .contactanos-foto{
            display: none;
        }
    }
}