
//tipografia
$fuente-titulos: 'Chakra Petch', sans-serif;
$tipografia: 'tilt prism', cursive;


//colores
$color-principal: #e89353;
$color-secundario: #4CAF50;
$color-terciario: #ffffff;
$color-contraste: #c2c2c2;
$color-fondo: #0c0909;
$color-hover: #ffd000;
$color-whatsapp: #05ff1e;
$color-facebook: rgb(0, 195, 255);


//map get

$size-map: (
    size-principal: 3.5rem,
    size-secundario: 2.0rem,
    size-terciario: 1.5rem,
);

$redes-map: (
    facebook: rgba(2, 15, 128, 0.774),
    whatsapp: rgb(5, 182, 5),
    Email: #5c0202,
)



