.formulario{
    height: 100%;
    width: 100%;
    background-color: $color-terciario;
    margin-top: 40px;
    padding: 90px 10px;
    .contacto {
        height: 100%;
        width: 100%;
        .contactanos-foto {
            height: 100%;
            width: 100%;
        }
        .iconos-contacto {
            font-size: map-get($size-map , size-terciario);
        }
        a {
            text-decoration: none;
        }
        .telefono {
            margin-top: 1px;
            color: map-get($redes-map , $key: whatsapp);
            
            &:hover {
                color: $color-whatsapp;
            }
        }
        .ico-Email {
            margin: 8px 0px;
            color: map-get($redes-map , $key: Email);
            padding-right: 18px;
            &:hover {
                color: #ff0000;
            }
        }
    }
    form {
        display: flex;
        align-items: center;
        text-align: center;
        input,
        textarea {
            height: 40px;
            width: 70%;
        }
        label {
            width: 70%;
            font-size: map-get($size-map, size-terciario);
        }
        .form-button {
            margin: 10px 0px;
        }
    }
}

